* {
  font-family:'Lucida Sans Unicode', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --myblue: #063341;
  --blue: #0C637F;
  --secblue: #099D90;
  --lightblue: #06d6a0;
  --primaryColor: #FFD470;
  --mainRed: #F36A6D;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainSpacing: 3px;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.bout{
  position: absolute;
  top:342px;
  right: 520px;
  z-index: 1;
  width: 280px;
  height: 260px;
  background-position: center;
  background-image: url("./images/icons/bo.png");
  margin: 1rem auto;
}  @media screen and (max-width: 900px) {
  .bout{
    top:224px;
    left: 30px;
  }
}

/*הים הטיפשי*/
.spikes {
  position: relative;
  background: var(--primaryColor);
  height: 3vh;
}
.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 45px;
  background-size: 50px 100%;
  background-image: 
  linear-gradient(10deg, var(--primaryColor) 25%, transparent 30%),
  linear-gradient(350deg, var(--primaryColor) 25%, transparent 30%);
  background-position: 0 0;
}

.blue-spikes {
  position: relative;
  background: var(--myblue);
  height: 3vh;
  z-index: 1;
}
.blue-spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 45px;
  background-size: 40px 100%;
  background-image: 
  linear-gradient(25deg, var(--myblue) 25%, transparent 33%),
  linear-gradient(335deg, var(--myblue) 25%, transparent 33%);
  background-position: 0 0;
}

.light-spikes {
  position: relative;
  background: var(--primaryColor);
  height: 1.3vh;
  z-index: 0;

}
.light-spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 75px;
  background-size: 35px 100%;
  background-image: 
  linear-gradient(20deg, var(--blue) 25%, transparent 32%),
  linear-gradient(340deg, var(--blue) 25%, transparent 32%);
  background-position: 0 0;
}

.first-spikes {
  position: relative;
  background: var(--primaryColor);
  height: 2.3vh;
  z-index: 0;
}
.first-spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 65px;
  background-size: 20px 100%;
  background-image: 
  linear-gradient(25deg, var(--secblue) 25%, transparent 30%),
  linear-gradient(335deg, var(--secblue) 25%, transparent 30%);
  background-position: 0 0;
}

/*hero*/
.void{
  height: 450px;
}
.pic{
  width: 100vw;
  height: 450px;
  background: url("./images/כותרת/freedom.jpg");
  background-size: cover;
  background-position: center;
}
/* Banner */
.banner h1 {
  padding-top: 15px;
  font-size: 2.8rem;
  font-family:  'Gill Sans MT',  sans-serif;
  text-align: center;
  letter-spacing: 6px;
  line-height: 0.5;
}
.banner {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 200px;
  height: 170px;
  padding: 50px;
  padding-top: 40px;
  border-radius: 30%;
  color: var(--mainRed);
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
.dream1 {
  top: 70px;
  left: 440px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 40%;
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
.dream2 {
  top: 100px;
  left: 620px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 40%;
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
/*end of Banner */
  @media screen and (max-width: 1150px) {
    .banner h1 {
      padding-top: 5px;
      font-size: 2.8rem;
    }
    .banner{
      top: 10px;
      left: 55px;
      width: 200px;
      height: 120px;
      padding-top: 40px;
    }
    .dream1 {
      top: 90px;
      left: 400px;
      width: 70px;
      height: 70px;
    }
    .dream2 {
      top: 105px;
      left: 500px;
      width: 40px;
      height: 40px;
    }
}
@media screen and (max-width: 900px) {
  .pic, .void {
    height: 330px;
  }
  .banner{
    top: 10px;
    left: 2vw;
    width: 28vw;
    height: 140px;
    padding: 20px;
  }
  .dream1 {
    top: 86px;
    left: 40vw;
    width: 58px;
    height: 60px;
  }
  .dream2 {
    top: 110px;
    left: 53vw;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 700px) {
  .banner h1{
    padding-top: 11px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 530px) {
  .banner h1{
    padding-top: 10px;
    font-size: 1.5rem;
  }
  .banner {
    top: 10px;
    left: 10px;
    width: 140px;
    height: 100px;
    padding: 15px;
  }
  .dream1 {
    top: 70px;
    left: 200px;
    width: 50px;
    height: 45px;
  }
  .dream2 {
    top: 90px;
    left: 270px;
    width: 30px;
    height: 25px;
  }
}

/* sections */
.hero-sec {
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  background:var(--primaryColor);
  color: var(--myblue);
}
.contact-sec {
  padding: 2rem;
  text-align: center;
  color: var(--mainRed);
  background: var(--primaryColor);
}
.pink-sec {
  padding: 2rem;
  text-align: center;
  color: var(--primaryColor);
  background: var(--mainRed);
}
.blue-sec {
  padding: 25px;
  padding-right: 45px;
  text-align: right;
  color: #fff;
  background: var(--lightblue);
}

/*2 columns*/
.about { 
  display: grid;
}
@media screen and (min-width: 1150px) {
  .about {
    grid-row-gap: 2rem;
    grid-template-columns: 3fr 2fr;
  }
}
/*about*/
.about h5 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 19px;
}

/*contact form*/
.contact-icon{
  margin: 30px;
  margin-bottom: -17px;
  padding: 5px;
  font-size: 2.5rem;
  border-radius: 5px;
  color:rgb(7, 161, 58);
  background: var(--mainRed);
  box-shadow: var(--lightShadow);
  border: 2px groove var(--lightblue);
}
.cform{
  margin: auto;
  width: 60vw;
}
@media screen and (max-width: 750px) {
  .cform{
    width: 80vw;
    margin: auto;
  }
}
.form-control {
  width: 100%;
  font-size: 1rem;
  border-radius: 5%;
  border: #ecb80e 1px groove;
  color: var(--primaryColor);
  padding: 3px;
  margin: 2px;
}
.long { border-radius: 1%; }
.submit{
  width: 90%;
  letter-spacing: var(--mainSpacing);
  font-size: medium;
  font-weight:900;
  color: var(--primaryColor);
  background: var(--mainRed);
  padding: 0.4rem 0.9rem;
  border-radius: 20px;
  margin-top: 23px;
  cursor: pointer;
}
.submit:hover {
  box-shadow: var(--lightShadow);
  transform: translateY(-0.25rem);
}

/* Title */
.section-title {
  text-align: center;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
}
.cats {
  width:115px;
  height: 30px;
  margin: auto;
  margin-bottom: 25px;
  background-image: url("./images/icons/sep.png");
  background-size: cover;
}
/* end of Title */





/*popup*/
@keyframes customEnterAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.customOverlay {
  background:rgba(17, 16, 16, 0.808);
}
.customModal {
  max-width: 450px;
  width: 100%;
}
/*end of popup*/

/* globals */
h1 {
  font-size: 3em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  line-height: 1;
  direction: rtl;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.5em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.2em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h5 {
  font-size: 1em;
  direction: rtl;
  font-weight: bold;
  margin-bottom: 0.5em;
}
h6 {
  font-size: 1em;
  direction: rtl;
  margin-bottom: 0.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
div{
  direction: rtl;
}
/* end of globals */


/* activitylist */
.activitylist-center {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));  
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  margin-bottom: 40px;
}

/* reco */
.reco {
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 3fr;
  background: var(--primaryColor);
  box-shadow: var(--lightShadow);
  color: var(--myblue);
}
@media screen and (max-width: 1000px) {
  .reco {
    grid-template-columns: 1fr;
  }
}
.reco img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
.reco div {
  text-align: end;
}