* {
  font-family:'Lucida Sans Unicode', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --myblue: #0A4F66;
  --blue: #118ab2;
  --lightblue: #06d6a0;
  --primaryColor: #FFD470;
  --mainRed: #F36A6D;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainSpacing: 3px;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/*hero*/
.void{
  height: calc(75vh);
}
.pic{
  width: 100vw;
  height: calc(75vh);
  background: url("./images/כותרת/freedom.jpg");
  background-size: cover;
  background-position: center;
}
/* Banner */
.banner h1 {
  font-size: 5rem;
  font-family:  'Gill Sans MT',  sans-serif;
  text-align: center;
  letter-spacing: 6px;
}
.banner {
  position: absolute;
  top: 30px;
  left: 6%;
  width: 320px;
  padding: 40px;
  height: calc(45vh);
  border-radius: 30%;
  color: var(--mainRed);
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
.dream1 {
  top: 90px;
  left: 44%;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 40%;
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
.dream2 {
  top: 120px;
  left: 58%;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 40%;
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
/*end of Banner */
  @media screen and (max-width: 1150px) {
    .pic, .void {
      height: calc(50vh);
    }
    .banner h1 {
      font-size: 2.9rem;
    }
    .banner{
      top: 10px;
      left: 7vw;
      width: 22vw;
      height: 20vh;
      padding-top: 40px;
    }
    .dream1 {
      top: 80px;
      left: 42vw;
      width: 90px;
      height: calc(13vh);
    }
    .dream2 {
      top: 110px;
      left: 55vw;
      width: 40px;
      height: calc(6vh);
    }
}
@media screen and (max-width: 900px) {
  .banner{
    top: 10px;
    left: 2vw;
    width: 28vw;
    height: 130px;
    padding: 20px;
  }
  .dream1 {
    top: 86px;
    left: 40vw;
    width: 58px;
    height: 60px;
  }
  .dream2 {
    top: 110px;
    left: 53vw;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 700px) {
  .banner h1{
    padding-top: 15px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 530px) {
  .banner h1{
    padding-top: 10px;
    font-size: 1.1rem;
  }
  .banner {
    top: 10px;
    left: 2vw;
    width: 110px;
    height: 80px;
    padding: 15px;
  }
  .dream1 {
    top: 70px;
    left: 39vw;
    width: 50px;
    height: 45px;
  }
  .dream2 {
    top: 90px;
    left: 56vw;
    width: 30px;
    height: 25px;
  }
}

/* services */
.pink-sec {
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  background:var(--mainRed);
  color: var(--myblue);
}
.haki-sec {
  padding: 2rem;
  text-align: center;
  color: var(--mainRed);
  background: var(--primaryColor);
}
.blue-sec {
  padding: 2rem;
  text-align: center;
  color: #fff;
  background: var(--lightblue);
}

/*2 columns, for about */
.about { 
  display: grid;
}
.about h5 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: larger;
}
@media screen and (min-width: 900px) {
  .about {
    grid-row-gap: 2rem;
    grid-template-columns: 3fr 2fr;
  }
}

/*contact form*/
.cform{
  margin: auto;
  width: 60vw;
}
.cform input{
  margin-bottom: 2px;
}
.contact-icon{
  margin: 10px;
  margin-bottom: 0px;
  padding: 5px;
  font-size: 2.5rem;
  border-radius: 5px;
  color:rgb(7, 161, 58);
  background: var(--mainRed);
  box-shadow: var(--lightShadow);
  border: 2px groove var(--lightblue);
}
@media screen and (max-width: 750px) {
  .cform{
    width: 80vw;
    margin: auto;
  }
}




/* Title */
.section-title {
  text-align: center;
  margin-bottom: 2rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width:7rem;
  height: 33px;
  margin: 0 auto;
  background-image: url("./images/icons/sep.png");
  background-size: cover;
}
/* end of Title */

/*popup*/
@keyframes customEnterAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.customOverlay {
  background:rgba(17, 16, 16, 0.808);
}
.customModal {
  max-width: 450px;
  width: 100%;
}
/*end of popup*/

/* globals */
.sep{
  width: 49%;
  height: 35px;
  background-position: center;
  /* background-image: url("./images/icons/mirror.png"); */
  margin: 1rem auto;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  line-height: 1;
  direction: rtl;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.5em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.2em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h5 {
  font-size: 1em;
  direction: rtl;
  font-weight: bold;
  margin-bottom: 0.5em;
}
h6 {
  font-size: 1em;
  direction: rtl;
  margin-bottom: 0.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
div{
  direction: rtl;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */

/*gallery page*/
.container {
  position: relative;
}
.container div {
  display: inline-block;
  transition: var(--mainTransition);
  margin: 10px 18px 10px 18px;
  border: 1px solid var(--darkGrey); 
  background-Size: cover;
  width: 250px; 
  height: 200px;
  cursor: pointer;
}
.container div:hover {
  box-shadow: var(--lightShadow);
}
.vv{
  margin: 100px;
  background-position-y: bottom;
}
/*end of gallery*/



/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/
.room-section {
  width: 75vw;
  margin: 0 auto 3rem auto;
}
.room-section p {
  line-height: 1.5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.room-section h3 {
  letter-spacing: var(--mainSpacing);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
.extras li{
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* בעמוד החדרים! לא בתפריט */
.book-now-btn {
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  border: 2px groove ;
  color: var(--mainWhite);
  background : var(--mainGreen);
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
  justify-content: center;  
  text-decoration: none;
  border-radius:10px;
}
.book-now-btn:hover {
  box-shadow: 0 0.5em 0.5em -0.2em #3bb193 ;
  transform: translateY(-0.25em);
}
.calander-icon{
  font-size: 0.8rem;
  margin-top: 5px;
  margin-right:6px;
}
@media screen and (min-width: 935px) {
  .calander-icon{
    font-size: 1.1rem;
    margin:8px;
  }
  .book-now-btn {
    font-size: 1.3rem;
  }
  .room-section {
    width: 75vw;
    max-width: 1170px;
  }
}
/* end of single room*/

/* roomlist */
.roomslist {
  padding-bottom: 2rem;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}
/* end of roomlist */

/*rooms*/
.btn-room-contain {
  position: relative;
  width: 70vw;
  left: 3px;
  margin: auto;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.room-btns {
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 3%;
  box-shadow: 0 0.5em 0.4em -0.4em #050a5c;
}
@media screen and (max-width: 555px) {
  .btn-room-contain {
    width: 80vw;
  }
  .room-btns {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .btn-room-contain {
    left:3px;
  }
  .room-btns {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 380px) {
  .btn-room-contain {
    left: 5px;
  }
}

.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  font-size: 1rem;
  border-radius: 5%;
  border: #ecb80e 1px groove;
  color: var(--primaryColor);
  padding: 3px;
  margin: 1px;
}
.long {
  border-radius: 1%;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
/* end of rooms fitler*/

@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form,
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* activitylist */
.activitylist {
  padding-bottom: 1rem;
}
.activitylist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 992px) {
  .activitylist-center {
    width: 80vw;
    max-width: 1170px;
  }
}
/* end of activitylist */

/* activity */
.activity {
  border-radius: 10px;
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
.activity p {
  font-size: large;
  font-weight: 600;
  font-style: initial;
}

.img-container-activity {
  padding: 2px;
  position: relative;
}
.img-container-activity img {
  border-radius: 10px;
  width: 100%;
  height: 290px;
  display: block;
  transition: var(--mainTransition);
}

/*hovering text effect*/
.img__description {
  background: rgba(41, 39, 39, 0.815);
  visibility: hidden;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  border-radius: 10px;
  padding: 12px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
/* טקסט תיאור */
.img__description p{
  color: var(--lightblue);
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* לינק */
.img__description a{
 color: var(--primaryColor);
 font-weight:600;
 font-size: large;
}
.img-container-activity:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.activity-name {
  padding: 0.3rem 0.3rem;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: var(--mainSpacing);
}
/* end of activity  */