* {
  font-family:'Lucida Sans Unicode', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --myblue: #063341;
  --blue: #0C637F;
  --secblue: #099D90;
  --lightblue: #06d6a0;
  --primaryColor: #FFD470;
  --mainRed: #F36A6D;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainSpacing: 3px;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.bout{
  position: absolute;
  top:386px;
  right: 650px;
  z-index: 1;
  width: 270px;
  height: 260px;
  background-position: center;
  background-image: url("./images/icons/bo.png");
  margin: 1rem auto;
}  @media screen and (max-width: 1150px) {
  .bout{
    top:224px;
    right: 215px;
  }
} @media screen and (max-width: 500px) {
  .bout{
    left: 20px;
  }
}

/*הים הטיפשי*/
.spikes {
  position: relative;
  background: var(--mainRed);
  height: 3vh;
}
.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 45px;
  background-size: 50px 100%;
  background-image: 
  linear-gradient(15deg, var(--mainRed) 25%, transparent 30%),
  linear-gradient(345deg, var(--mainRed) 25%, transparent 30%);
  background-position: 0 0;
}

.blue-spikes {
  position: relative;
  background: var(--myblue);
  height: 4vh;
  z-index: 1;
}
.blue-spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 45px;
  background-size: 40px 100%;
  background-image: 
  linear-gradient(25deg, var(--myblue) 25%, transparent 33%),
  linear-gradient(335deg, var(--myblue) 25%, transparent 33%);
  background-position: 0 0;
}

.light-spikes {
  position: relative;
  background: var(--primaryColor);
  height: 1.3vh;
  z-index: 0;

}
.light-spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 75px;
  background-size: 35px 100%;
  background-image: 
  linear-gradient(20deg, var(--blue) 25%, transparent 32%),
  linear-gradient(340deg, var(--blue) 25%, transparent 32%);
  background-position: 0 0;
}

.first-spikes {
  position: relative;
  background: var(--primaryColor);
  height: 2.3vh;
  z-index: 0;
}
.first-spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 65px;
  background-size: 20px 100%;
  background-image: 
  linear-gradient(25deg, var(--secblue) 25%, transparent 30%),
  linear-gradient(335deg, var(--secblue) 25%, transparent 30%);
  background-position: 0 0;
}

/*hero*/
.void{
  height: calc(75vh);
}
.pic{
  width: 100vw;
  height: 500px;
  background: url("./images/כותרת/freedom.jpg");
  background-size: cover;
  background-position: center;
}
/* Banner */
.banner h1 {
  font-size: 5rem;
  font-family:  'Gill Sans MT',  sans-serif;
  text-align: center;
  letter-spacing: 6px;
}
.banner {
  position: absolute;
  top: 30px;
  left: 6%;
  width: 320px;
  padding: 40px;
  height: calc(45vh);
  border-radius: 30%;
  color: var(--mainRed);
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
.dream1 {
  top: 90px;
  left: 44%;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 40%;
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
.dream2 {
  top: 120px;
  left: 58%;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 40%;
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
/*end of Banner */
  @media screen and (max-width: 1150px) {
    .pic, .void {
      height: 330px;
    }
    .banner h1 {
      font-size: 2.9rem;
    }
    .banner{
      top: 10px;
      left: 7vw;
      width: 22vw;
      height: 20vh;
      padding-top: 40px;
    }
    .dream1 {
      top: 80px;
      left: 42vw;
      width: 90px;
      height: calc(13vh);
    }
    .dream2 {
      top: 110px;
      left: 55vw;
      width: 40px;
      height: calc(6vh);
    }
}
@media screen and (max-width: 900px) {
  .banner{
    top: 10px;
    left: 2vw;
    width: 28vw;
    height: 130px;
    padding: 20px;
  }
  .dream1 {
    top: 86px;
    left: 40vw;
    width: 58px;
    height: 60px;
  }
  .dream2 {
    top: 110px;
    left: 53vw;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 700px) {
  .banner h1{
    padding-top: 15px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 530px) {
  .banner h1{
    padding-top: 1px;
    font-size: 1.5rem;
  }
  .banner {
    top: 10px;
    left: 2vw;
    width: 110px;
    height: 100px;
    padding: 15px;
  }
  .dream1 {
    top: 70px;
    left: 41vw;
    width: 50px;
    height: 45px;
  }
  .dream2 {
    top: 90px;
    left: 59vw;
    width: 30px;
    height: 25px;
  }
}

/* sections */
.pink-sec {
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  background:var(--mainRed);
  color: var(--myblue);
}
.haki-sec {
  padding: 2rem;
  text-align: center;
  color: var(--mainRed);
  background: var(--primaryColor);
}
.blue-sec {
  padding: 25px;
  padding-right: 45px;
  text-align: right;
  color: #fff;
  background: var(--lightblue);
}

/*2 columns*/
.about { 
  display: grid;
}
@media screen and (min-width: 1150px) {
  .about {
    grid-row-gap: 2rem;
    grid-template-columns: 3fr 2fr;
  }
}
/*about*/
.about h5 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 19px;
}

/*contact form*/
.contact-icon{
  margin: 30px;
  margin-bottom: -17px;
  padding: 5px;
  font-size: 2.5rem;
  border-radius: 5px;
  color:rgb(7, 161, 58);
  background: var(--mainRed);
  box-shadow: var(--lightShadow);
  border: 2px groove var(--lightblue);
}
.cform{
  margin: auto;
  width: 60vw;
}
@media screen and (max-width: 750px) {
  .cform{
    width: 80vw;
    margin: auto;
  }
}
.form-control {
  width: 100%;
  font-size: 1rem;
  border-radius: 5%;
  border: #ecb80e 1px groove;
  color: var(--primaryColor);
  padding: 3px;
  margin: 2px;
}
.long { border-radius: 1%; }
.submit{
  width: 90%;
  letter-spacing: var(--mainSpacing);
  font-size: medium;
  font-weight:900;
  color: var(--primaryColor);
  background: var(--mainRed);
  padding: 0.4rem 0.9rem;
  border-radius: 20px;
  margin-top: 23px;
  cursor: pointer;
}
.submit:hover {
  box-shadow: var(--lightShadow);
  transform: translateY(-0.25rem);
}

/* Title */
.section-title {
  text-align: center;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
}
.cats {
  width:115px;
  height: 30px;
  margin: auto;
  margin-bottom: 25px;
  background-image: url("./images/icons/sep.png");
  background-size: cover;
}
/* end of Title */





/*popup*/
@keyframes customEnterAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.customOverlay {
  background:rgba(17, 16, 16, 0.808);
}
.customModal {
  max-width: 450px;
  width: 100%;
}
/*end of popup*/

/* globals */
h1 {
  font-size: 3em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  line-height: 1;
  direction: rtl;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.5em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.2em;
  direction: rtl;
  line-height: 1;
  margin-bottom: 0.5em;
}
h5 {
  font-size: 1em;
  direction: rtl;
  font-weight: bold;
  margin-bottom: 0.5em;
}
h6 {
  font-size: 1em;
  direction: rtl;
  margin-bottom: 0.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
div{
  direction: rtl;
}
/* end of globals */


/* activitylist */
.activitylist-center {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

/* activity */
.activity {
  border-radius: 10px;
  background: var(--lightblue);
  box-shadow: var(--lightShadow);
}
/*שניהם השם איכשו*/
.activity-name {
  padding: 0.3rem 0.3rem;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: var(--mainSpacing);
}
.activity p {
  font-size: large;
  font-weight: 600;
  font-style: initial;
}

.img-container-activity {
  padding: 2px;
  position: relative;
}
.img-container-activity img {
  border-radius: 10px;
  width: 100%;
  height: 290px;
  display: block;
  transition: var(--mainTransition);
}

/*hovering text effect*/
.img__description {
  background: rgba(41, 39, 39, 0.815);
  visibility: hidden;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  border-radius: 10px;
  padding: 12px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
/* טקסט תיאור */
.img__description p{
  color: var(--lightblue);
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-container-activity:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/* end of activity  */